html {
	background-image: url("../images/skulls.png");
}
body {
	/* Most browsers use Times-Roman @ 16pixels height.
	   Arial is a readable font and the percentage sizing
	   changes it to 14px which looks good (see Murach's)
	  */
	font-family: Arial, Helvetica, snas-serif;
	font-size: 87.5%;
	width: 800px;
	background: white; 					/* Stops skulls background image from showing through */
	box-shadow: 0 0 25px 10px black;
	margin: 20px auto 30px;				/* Center content in the viewport, with some top & bottom margin */
}
a:hover, a:active {
	color: grey;
}

/*****************************************
 * Inline Images
 *****************************************/
figure.inline {
	border: 1px solid grey;
	box-shadow: 5px 5px 5px grey;
}
figure.inline-left {
	float: left;
	margin: 0 1em 1em 0;
}
figure.inline-right {
	float: right;
	margin: 0 1em 1em .5em;
}
figcaption {
	color: grey;
	font-size: .75em;
	margin: 0;
	padding: 3px 5px 5px 5px;
}

/*****************************************
 * Banner
 *****************************************/
header h1 {
	padding: 15px 0 10px;				/* T L-R B */
	margin: 0;
}
header h2 {
	margin-top: 0;
}
header {
	background: white;
    background-image: linear-gradient(45deg, grey , white 75%, black);
	overflow: auto;						/* Allows image to set min height of header box */
	border-bottom: 1px solid black;
}
header img {
	float: left;
}

/*****************************************
 * Navigation
 *****************************************/
nav {
	width: 160px;
	display: inline-block;				/* Alternative to float */
	vertical-align: top;				/* inline-blocks default to bottom alignment */
	/*float: left; */
}
nav ul {
	padding-top: 0.5em;
}
nav li {
	margin-bottom: .5em;
}
nav a {
	text-decoration: none;
	font-weight: bold;
}

/*****************************************
 * Content
 *****************************************/
main {
	/* Use pixel units for L-R padding since column is fixed width.
	   the width property specifies only the content area width,
	   so the total box width is width + padding.
	*/
	padding:  0 10px 2em 10px;
	width: 610px;
	display: inline-block;				/* Alternative to float */
	vertical-align: top;				/* inline-blocks default to bottom alignment */
	/* float: left; */
}
main h2:first-letter {
	font-size: 1.5em;
}
main section p:first-letter {
	font-size: 1.25em;
}

/*****************************************
 * Footer
 *****************************************/
footer {
	overflow: auto; 					/* Fixes: background not filling box when cleared */
	background: white;
    background: linear-gradient(45deg, black , white 75%, grey);
	width: 780px;
	border-top: 1px solid black;
	padding: 0 10px;					/* Use pixel units for L-R padding since column is fixed width */
	text-align: center;
}
